<!--<link rel="import" href="../../../../node_modules/Polymer/polymer-micro.html">-->

<dom-module id="one-way-binding">
  <template>
    <h4>One way data binging</h4>
    <p>
      By default in Polymer properties are binging from js to html, but not from from html to js.
      Updating fields will not change showing values:</p>
    <div>
      <span>Left html value</span>
      <input value="{{ leftShow }}">
      <div>Left html value: {{ leftShow }}</div>
    </div>
    <div>
      <span>Right html value</span>
      <input value="[[ rightShow ]]">
      <div>Right html value: {{ rightShow }}</div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'one-way-binding',
    properties: {
      leftShow: {
        type: Boolean,
        value: true,
      },
      rightShow: {
        type: Boolean,
        value: true,
      },
    },
  });
</script>
