<!-- -- import template repeater ----><link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="dom-repeat-filter">
  <template>
    <h2>dom-repeat filter:</h2>

    <div>starts with t:</div>
    <template is="dom-repeat" items="[[ props ]]" as="prop" filter="startsWithT">
      <div>[[ index ]] item: [[ prop ]]</div>
    </template>

    <div>starts with f:</div>
    <template is="dom-repeat" items="[[ props ]]" as="prop" filter="startsWithF">
      <div>[[ index ]] item: [[ prop ]]</div>
    </template>

    <input value="{{searchCriteria::input}}">
    <div>starts with {{ searchCriteria }}:</div>
    <template is="dom-repeat" items="[[ props ]]" as="prop" filter="{{computeFilter(searchCriteria)}}">
      <div>
        {{ searchCriteria }}: {{ index }} item {{ prop }}
      </div>
    </template>
  </template>

  <script>
    class DomRepeatFilter extends Polymer.Element {
      static get is() {
        return 'dom-repeat-filter';
      }
      static get properties() {
        return {
          props: {
            type: Array,
            value: () => [
              'one',
              'two',
              'three',
              'four',
              'five',
            ],
          },
          searchCriteria: {
            type: String,
            value: '',
            notify: true,
          },
        };
      }
      startsWithT(item) {
        return item.startsWith('t');
      }
      startsWithF(item) {
        return item.startsWith('f');
      }
      computeFilter(searchCriteria) {
        if (!searchCriteria) return null;
        const lower = searchCriteria.toLowerCase();
        return prop => !!prop && prop.startsWith(lower);
      }
    }

    window.customElements.define(DomRepeatFilter.is, DomRepeatFilter);
  </script>
</dom-module>
