<dom-module id="wrapper-container">
  <template>
    <div class="container">

      <h4>Content wrapper</h4>
      <pre>heading:</pre>
      <div class="row">
        <content select=".heading"></content>
      </div>
      <pre>main section:</pre>
      <div class="row">
        <content select=".main"></content>
      </div>
      <pre>footer:</pre>
      <div class="row">
        <content select=".footer"></content>
      </div>
    </div>
  </template>
</dom-module>

<script>
  Polymer({ is: 'wrapper-container', });
</script>
